{% extends "base.html" %}
{% load static %}

{% block index %}
        <p class="paraLearn">This is a sample project used in the internal basic training for the Django web framework!</p>
        <p class="paraLearn">You can start learning now! <a href="{% static 'pdf/Django 101 - Basic Training.pdf' %}" target="_blank">Download the training slides!</a></p>
        <div class="animate__animated animate__zoomIn">
            {% for x in frontImage %}
            <a href="{% url 'admin:index' %}" target="_blank">
                <img src="{{ x.image.url }}" class="maRX782" />
            </a>
            <h3>
                ({{ x.caption }})
            </h3>
            {% endfor %}
        </div>
{% endblock index %}

{% block portfolio %}
        <article class="maPortfolio">
        {% for x in data %}
            <div class="animate__animated animate__fadeInRight">
                <p><strong>Project &#8594;</strong> {{ x.project }}</p>
                <p><strong>Client &#8594;</strong> {{ x.client }}</p>
                <p><strong>Duration &#8594;</strong> {{ x.startDate }} to {{ x.endDate }}</p>
                <p><strong>Description &#8594;</strong> {{ x.description }}</p>
            </div>
            {% endfor %}
        </article>  
{% endblock portfolio %}

{% block contact %}
        <form method="post" novalidate autocomplete="off" class="animate__animated animate__fadeInRight">
        {% csrf_token %}
        {% if created %}
            <h1>Thanks for the enquiry! I'll get back to you asap!</h1>
        {% else %}
            {% if notcreated %}
                <h1>Please complete the form!</h1>
            {% else %}
                <h1>Fill in the form!</h1>
            {% endif %}
        
            <table>
                {{ form }}
            </table>
            <input type="submit" name="submit" value="SEND" class="maButton">
        {% endif %}
        </form>
{% endblock contact %}